/*##### GENERAL #####*/

html {
    max-width: 1920px;
    min-width: 280px;
    margin: auto;
}

body {
    font-family: 'Raleway', arial;
    margin: 0px;
    margin-left: 3%;
    margin-right: 3%;
}

footer {
    margin-left: 0px;
    margin-right: 0px;
}

a{
    text-decoration: none;
}
/*##### HEADER #####*/
.logo {
    position: absolute;
    padding-top: 25px;
}

.head, .mobile_head {
    flex-direction: row-reverse;
    display: flex;
}

.mobile_head {
    width: 20%;
}

.signup {
    border: white solid 2px;
    width: 20%;
    text-align: center;
    padding-top: 33px;
    font-weight: bold;
}

.hebe {
    border: transparent solid 2px;
    border-top: #0065FC solid 2px;
    width: 50%;
    text-align: center;
    padding-top: 33px;
}

.act {
    border: transparent solid 2px;
    width: 50%;
    text-align: center;
    padding-top: 33px;
}

.signup a, .hebe a{
    color: #0065FC;
}

.act a{
    color: black;
}
/*##### RESEARCH BAR #####*/

.research {
    padding-top: 8px;
}

.research p, h1 {
    margin: 0px;
    padding: 0px;
}

.research p {
    margin-top: 9px;
    margin-bottom: 19px;
}

.research h1 {
    margin-top: 48px;
}

.search {
    font-weight: bold;
    width: 234px;
    border-style: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

form {
    width: 418px;
    height: 49px;
    display: flex;
    border-radius: 15px;
}

.marker .fas{
    color: black;
}

.marker {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
}

.find_logo {
    display: none;
}

::placeholder {
    color: black;
    opacity: 1;
    font-size: 15px;
}

button {
    width: 134px;
    border: none;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.fa-map-marker-alt {
    height: 52px;
    padding-top: 15px;
    padding-right: 19px;
    padding-left: 19px;
    color: #0065FC;
}

/*##### FILTERS #####*/

.all_filter {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 31px;
    flex-wrap: wrap;
}

.filter, h2 {
    margin-right: 32px;
}

.eco, .ani, .fami, .roma {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-right: 22px;
    border: #F2F2F2 solid 2px;
    padding-right: 22px;
    height: 50px;
    border-radius: 25px;
    transition: background-color 500ms;
}

.eco:hover, .ani:hover, .fami:hover, .roma:hover {
    background-color: #0065FC;
    color: white;
}

.ani:hover, .roma:hover, .fami:hover, .eco:hover {
    background-color: #0065FC;
}

div.ani:hover a, .roma:hover a, .fami:hover a, .eco:hover a {
    color: white;
}

div.ani a, div.roma a, div.fami a, div.eco a {
    font-weight: bold;
    color: black;
}

.all_filter .fas {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: solid #DEEBFF;
    background-color: #DEEBFF;
    margin-right: 13px;
    color: #0065FC;
}

/*##### INFOS #####*/

.info {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info .fas {
    border: 1px solid #F2F2F2;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-right: 12px;
}

/*##### CARDS #####*/

.cards .stars {
    color: #0065FC;
}

.cards .gris {
    color: #d9d9d9;
}

/*##### HÉBERGEMENTS #####*/

.hebergements {
    height: 100%;
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 34px;
}

.hebergements a {
    color: black;
}

.allcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebeimg {
    height: 119px;
    width: 100%;
    display: flex;
}

.hebeimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hebedesc {
    position: absolute;
    top: 119px;
    left: 0px;
    background-color: white;
    height: 63px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding-top: 12px;
}

.hebergements h3 {
    font-size: 16px;
}

.hebergements p {
    font-size: 14px;
    font-weight: bold;
}

.hebergements .fas {
    font-size: 12px;
}

.hebedesc h3, p {
    margin: 0px;
    padding: 0px;
}

.hebedesc h3, p, .stars {
    margin-left: 11px;
}

.hebecards {
    flex-direction: column;
    position: relative;
    display: flex;
    width: 236px;
    height: 189px;
    border: 5px solid white;
    border-radius: 25px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.75);
    transition: box-shadow 300ms;
    overflow: hidden;
}

.hebecards:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 101, 252, 1);
}

.more {
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

/* ##### Populaires ##### */

.cards {
    display: inline-flex;
}

.populaires {
    height: 100%;
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding-left: 37px;
    padding-right: 38px;
    padding-top: 20px;
}

.stonks {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stonks .fas {
    font-size: 23px;
}

.popucards {
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    width: 338px;
    height: 134px;
    border: 5px solid white;
    box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.75);
    transition: box-shadow 300ms;
    margin-bottom: 33px;
}

.popucards:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 101, 252, 1);
}

.popuimg {
    width: 40%;
    height: 134px;
    display: flex;
}

.popuimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popudesc {
    position: absolute;
    top: 0px;
    left: 40%;
    background-color: white;
    height: 134px;
    width: 61%;
    border-radius: 0px 20px 20px 0px;
}

.allcards_popu {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.popudesc h3, p, .popustars {
    margin-left: 11px;
}

.popustars .fas{
    color: #0065FC;
}

.popustars .gris{
    color: #d9d9d9;
}

.popudesc h3, p {
    color: black;
}

/*##### ACTIVITÉS #####*/
#activity {
    width: 100%;
    height: 100%;
    margin: 0px;
}

#activity a {
    color: black;
}

#activity h2 {
    margin-left: 3%;
}

.cards_act {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards_act h3 {
    margin-left: 16px;
}

.xlcard, .lscard, .mmcard {
    width: 20%;
}

.port, .fort, .iles, .garde, .parclong, .parc {
    overflow: hidden;
    position: relative;
    border-radius: 25px;
    display: flex;
    box-shadow: 0px 0px 20px -6px rgba(0, 0, 0, 0.75);
    transition: box-shadow 300ms;
}

.port:hover, .fort:hover, .iles:hover, .garde:hover, .parclong:hover, .parc:hover {
    box-shadow: 0px 0px 10px 2px rgba(0, 101, 252, 1);
}

.port, .parc {
    height: 446px;
}

.garde {
    height: 196px;
}

.parclong {
    height: 209px;
}

.fort {
    height: 237px;
}

.mmcard, .lscard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iles {
    height: 166px;
}

.title_actxl, .title_actl, .title_acts, .title_actms, .title_actml{
    position: absolute;
    background-color: white;
    width: 100%;
}

.title_actxl {
    top: 88%;
}

.title_actl {
    top: 76%;
}

.title_acts {
    top: 66%;
}

.title_actms {
    top: 71%;
}

.title_actml {
    top: 73%;
}

.xlimg img, .limg img, .simg img, .mimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title_actxl, .title_actl, .title_actms, .title_actml, .title_acts {
    height: 56px;
}

/*##### FOOTER #####*/

footer {
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 35px;
}

.about, .quality, .assistance {
    width: 33%;
    color: black;
}

footer li {
    list-style-type: none;
    margin-bottom: 15px;
}

footer ul {
    margin: 0px;
    padding: 0px;
}

footer a {
    color: black;
}

/*##### MEDIA QUERIES #####*/

@media screen and (max-width: 1024px) {
    .all_filter {
        flex-wrap: wrap;
        font-size: 12px;
    }
}

@media screen and (min-width: 1045px) {
    .populaires {
        margin-left: 40px;
    }
}

@media screen and (min-width: 1713px) {
    .hebecards {
        width: 316px;
    }
    .hebedesc {
        width: 100%;
    }
    .hebeimg {
        width: 100%;
    }
}

@media (max-width: 425px) {
    button {
        width: 51px;
        border-radius: 14px;
    }
    button .fas {
        color: white;
    }
    .find_logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .find {
        display: none;
    }
    .search {
        border: none;
    }
    form {
        justify-content: space-between;
        border: 1px solid #f2f2f2;
        border-radius: 15px;
        width: 100%;
    }
    .search {
        border: none;
        width: 60%;
    }
    .popucards {
        width: 90%;
    }
    .hebecards {
        width: 100%;
    }
    .cards_act h3 {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1044px) and (min-width: 426px) {
    .allcards_popu {
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 319px) {
    .popudesc h3 {
        font-size: 14px;
    }
    .popudesc p {
        font-size: 13px;
    }
    .popustars {
        font-size: 13px;
    }
    .hebedesc h3 {
        font-size: 14px;
    }
    .hebedesc p {
        font-size: 13px;
    }
    .stars {
        font-size: 13px;
    }
}

@media (max-width: 1044px) {
    .mobile_head {
        width: 100%;
    }
    .act {
        border-bottom: #F2F2F2 solid 3px;
        border-top: none;
        width: 50%;
    }
    .hebe {
        border-bottom: #0065FC solid 3px;
        border-top: none;
        width: 50%;
    }
    .signup {
        width: 100%;
        text-align: end;
    }
    .head {
        flex-direction: column;
    }
    body {
        margin: 0px;
    }
    .hebecards {
        margin-left: 20px;
        margin-right: 20px;
    }
    .populaires {
        order: 1;
        width: 100%;
        border-radius: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .allcards_popu {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .hebergements {
        order: 2;
        background-color: transparent;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }
    .cards {
        display: flex;
        flex-direction: column;
    }
    #heberg {
        margin-left: 20px;
    }
    .more {
        margin-left: 20px;
    }
    .allcards {
        width: 100%;
        justify-content: space-evenly;
    }
    .all_filter {
        flex-wrap: wrap;
        font-size: 12px;
    }
    .stonks {
        margin-left: 20px;
        margin-right: 20px;
    }
    body {
        margin: 0px;
    }
    header, .research, .filter, #info {
        margin-left: 3%;
        margin-right: 3%;
    }
    .xlcard, .lscard, .mmcard {
        width: 40%;
    }
    .port, .lscard {
        margin-bottom: 22px;
    }
    .title_actxl, .title_actl, .title_actms, .title_actml, .title_acts {
        font-size: 15px;
    }
}

@media (max-width: 571px) and (min-width: 426px) {
    .hebecards {
        width: 338px;
    }
}

@media (max-width: 531px) {
    .xlcard, .lscard, .mmcard {
        width: 90%;
    }
    .port, .lscard {
        margin-bottom: 0px;
    }
    .port, .fort, .iles, .garde, .parc {
        margin-bottom: 22px;
    }
    .port, .fort, .iles, .garde, .parclong, .parc {
        height: 190px;
    }
    .title_actxl, .title_actl, .title_actms, .title_actml, .title_acts {
        top: 71%;
    }
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .about, .quality, .assistance {
        margin-bottom: 20px;
        width: 100%;
    }
}