/*##### GENERAL #####*/
html{
    max-width: 1920px;
    min-width: 280px;
    margin: auto;
}
body
{
    font-family: 'Raleway', arial;
    margin-left: 3%;
    margin-right: 3%;
}

a
{
    color: #0065FC;
    text-decoration: none;
}

/*##### HEADER #####*/

/*.head
{
    display: flex;
    flex-direction: row-reverse;
}*/

.logo 
{
    position: absolute;
    padding-top: 25px;
}

.head, .mobile_head{
    flex-direction: row-reverse;
    display: flex;
}

.mobile_head{
    width: 20%;
}

.signup
{
    border: white solid 2px;
    width: 20%;
    text-align: center;
    padding-top: 33px;
    font-weight: bold;
}

.hebe
{
    border: white solid 2px;
    width: 50%;
    text-align: center;
    padding-top: 33px;
}

.hebe:hover
{
    border-top: #0065FC solid 2px;
}

.act
{
    border: transparent solid 2px;
    width: 50%;
    text-align: center;
    padding-top: 33px;
}

.act:hover
{
    border-top: #0065FC solid 2px;
}

/*##### RESEARCH BAR #####*/

.research
{
    padding-top: 8px;
}

.research p, h1
{
    margin: 0px;
    padding: 0px;
}

.research p
{
    margin-top: 9px;
    margin-bottom: 19px;
}

.research h1
{
    margin-top: 48px;
}

form
{
    border: 2px solid transparent;
    width: 418px;
    height: 49px;
    background-color: #F2F2F2;
    display: flex;
    border-radius: 15px;
}

.find_logo{
    display: none;
}

input
{
    border-style: none;
    outline: 1px solid white;
    width: 234px;
    font-weight: bold;
    padding-left: 17px;
}

::placeholder {
    color: black;
    opacity: 1;
    font-size: 15px;
  }

button
{
    box-shadow: 0px 0px 0px 2px #0065FC;
    width: 134px;
    border: none;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: bold;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

button:focus 
{
    outline:0;
}

.fa-map-marker-alt
{
    height: 52px;
    padding-top: 15px;
    padding-right: 19px;
    padding-left: 19px;
    color: #0065FC;
}

/*##### FILTERS #####*/
.all_filter
{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 31px;
    flex-wrap: wrap;
}

.filter, h2
{
    margin-right: 32px;
}

.eco, .ani, .fami, .roma
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-right: 22px;
    border: #F2F2F2 solid 2px;
    padding-right: 22px;
    height: 50px;
    border-radius: 25px;
    transition: background-color 500ms;
}

.eco:hover, .ani:hover, .fami:hover, .roma:hover
{
    background-color:  #0065FC;
    color: white;
}

.ani:hover, .roma:hover, .fami:hover, .eco:hover {
    background-color: #0065FC;
}

div.ani:hover a, .roma:hover a, .fami:hover a, .eco:hover a {
    color: white;
}

div.ani a, div.roma a, div.fami a, div.eco a{
    font-weight: bold;
    color: black;
}

.all_filter .fas {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: solid #DEEBFF;
    background-color: #DEEBFF;
    margin-right: 13px;
    color:  #0065FC;
}

/*##### INFOS #####*/

.info
{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info .fas
{
    border: 1px solid #F2F2F2;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color:  #0065FC;
    margin-right: 12px;
}

/*##### CARDS #####*/

.cards .stars
{
    color:  #0065FC;
}

.cards .gris
{
    color: #d9d9d9;
}

/*##### HÉBERGEMENTS #####*/

.hebergements
{
    height: 100%;
    width: 70%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 34px;
}

.hebergements a
{
    color: black;
}

.allcards
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebeimg img
{
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    position: absolute;
    object-position: 0 -25px;
    top: 0px;
    left: 0px;
}



.hebedesc
{
    position: absolute;
    top: 119px;
    left: 0px;
    background-color: white;
    height: 63px;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding-top: 12px;
}

.hebergements h3
{
    font-size: 16px;
}

.hebergements p
{
    font-size: 14px;
    font-weight: bold;
}

.hebergements .fas
{
    font-size: 12px;
}

.hebedesc h3, p
{
    margin: 0px;
    padding: 0px;
}

.hebedesc h3, p, .stars
{
    margin-left: 11px;
}

.hebecards
{
    flex-direction: column;
    position: relative;
    display: flex;
    width: 236px;
    height: 189px;
    border: 5px solid white;
    border-radius: 25px;
    /*margin-right: 31px;*/
    margin-bottom: 30px;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    transition: box-shadow 300ms; 
    overflow: hidden;
}

.hebecards:hover
{
    box-shadow: 0px 0px 10px 2px rgba(0,101,252,1);
}

.more
{
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

/* ##### Populaires ##### */
.cards
{
    display: inline-flex;

}
.populaires
{
    height: 100%;
    width: 30%;
    background-color: #f2f2f2;
    border-radius: 25px;
    padding-left: 37px;
    padding-right: 38px;
    padding-top: 20px;
   /* margin-left: 40px;*/
}

/*.populaires h2{
    margin-left: 10%;
}

.populaires .stonks
{
    position: absolute;
}

.populaires h2, .stonks
{
    display: inline-flex;
    color: black;
}*/

.stonks
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stonks .fas
{
    font-size: 23px;
}

.popucards
{
    flex-direction: column;
    position: relative;
    display: flex;
    width: 338px;
    height: 134px;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    transition: box-shadow 300ms; 
    margin-bottom: 33px;
}

.popucards:hover
{
    box-shadow: 0px 0px 10px 2px rgba(0,101,252,1);
}

.popuimg img
{
    width: 40%;
    height: 134px;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.popudesc
{
    position: absolute;
    top: 0px;
    left: 40%;
    background-color: white;
    height: 134px;
    width: 61%;
    border-radius: 0px 20px 20px 0px;
}

.allcards_popu
{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.popudesc h3, p, .popustars
{
    margin-left: 11px;
}

.popudesc h3, p
{
    color: black;
}

/*##### ACTIVITÉS #####*/
.activity
{
    width: 100%;
    height: 100%;
}

.cards_act
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.cards_act h3
{
    margin-left: 16px;
}

.xlcard, .lscard, .mmcard
{
    /*flex-direction: row;*/
    width: 20%;
    /*max-width: 302px;*/
    /*height: 100%;*/
}

/*.xlcard img, .lscard img, .mmcard img
{
    max-width: 100%;
}*/

/*.port, .parc
{
    max-height: 445px;
}*/

.port, .fort, .iles, .garde, .parclong, .parc {
    overflow: hidden;
    position: relative;
    /*height: 445px;*/
    border-radius: 25px;
    display: flex;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    transition: box-shadow 300ms; 
}
.port:hover, .fort:hover, .iles:hover, .garde:hover, .parclong:hover, .parc:hover{
    box-shadow: 0px 0px 10px 2px rgba(0,101,252,1);
}

.port, .parc
{
    height: 446px;
}

.garde{
    height: 196px;
}

.parclong{
    height: 209px;
}

.fort{
    height: 237px;
}

.mmcard, .lscard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.iles{
    height: 166px;
}

.title_actxl
{
    position: absolute;
    top: 88%;
    background-color: white;
    width: 100%;
}

.title_actl
{
    position: absolute;
    top: 76%;
    background-color: white;
    width: 100%;
}

.title_acts
{
    position: absolute;
    top: 66%;
    background-color: white;
    width: 100%;
}

.title_actms
{
    position: absolute;
    top: 71%;
    background-color: white;
    width: 100%;
}

.title_actml
{
    position: absolute;
    top: 73%;
    background-color: white;
    width: 100%;
}

.xlimg img, .limg img, .simg img, .mimg img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title_actxl, .title_actl, .title_actms, .title_actml, .title_acts{
    height: 56px;
}

/*##### MEDIA QUERIES #####*/
  @media screen and (max-width: 1024px)
{
    .all_filter
    {
        flex-wrap: wrap;
        font-size: 12px;
    }
    
}

@media screen and (min-width: 1045px)
{
    .populaires{
        margin-left: 40px;
    }
}

@media screen and (min-width: 1713px)
{
    .hebecards{
        /*margin-left: 30px;
        margin-right: 30px;*/
        width: 316px;
    }
    .hebedesc{
        width: 100%;
    }
    .hebeimg{
        width: 100%;
    }
}

@media (max-width: 425px)
{
    button {
        width: 51px;
        border-radius: 14px 14px 14px 14px;
    }
    .find_logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .find{
        display: none;
    }

    form{
        justify-content: space-between;
        border: 1px solid #f2f2f2;
        border-radius: 15px;
        width: 80%;
    }

    .popucards{
        width: 90%;
    }

    .hebecards{
        width: 100%;
    }

    .cards_act h3
    {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1044px) and (min-width: 426px){
    .allcards_popu{
        margin-right: 10px;
        margin-left: 10px;
    }
}

@media (max-width: 319px){
    /*.popudesc h3, p, .popustars{
        padding: 0px;
        margin: 0px;
    }*/
    .popudesc h3{
        font-size: 14px;
    }
    .popudesc p{
        font-size: 13px;
    }
    .popustars{
        font-size: 13px;
    }
    .hebedesc h3{
        font-size: 14px;
    }
    .hebedesc p{
        font-size: 13px;
    }
    .stars{
        font-size: 13px;
    }
}

@media (max-width: 1044px){
    .mobile_head{
        width: 100%;
    }

    .act{
        width: 50%;
    }
    .act:hover{
        border-bottom: #0065FC solid 2px;
        border-top: none;
    }

    .hebe{
        width: 50%;
    }

    .hebe:hover{
        border-bottom: #0065FC solid 2px;
        border-top: none;
    }

    .signup{
        width: 100%;
        text-align: end;
    }

    .head{
        flex-direction: column;
    }

    body{
        margin: 0px;
    }

    .hebecards{
        margin-left: 10px;
        margin-right: 10px;
    }

    .populaires {
        order: 1;
        width: 100%;
        border-radius: 0px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .allcards_popu{
        flex-wrap: wrap;
        flex-direction: row;
    }
    .hebergements{
        order: 2;
        background-color: transparent;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .cards{
        display: flex;
        flex-direction: column;
    }

    .heberg{
        margin-left: 20px;
    }

    .more{
        margin-left: 20px;
    }

    .allcards{
        width: 100%;
        justify-content: space-evenly;
    }

    .all_filter
    {
        flex-wrap: wrap;
        font-size: 12px;
    }

    .stonks{
        margin-left: 20px;
        margin-right: 20px;
    }

    body {
        margin: 0px;
    }

    header, .research, .filter, #info {
        margin-left: 3%;
        margin-right: 3%;
    }
    .xlcard, .lscard, .mmcard{
        width: 40%;
    }
    .port, .lscard{
        margin-bottom: 22px;
    }
    /*.fort, .garde{
        margin-bottom: 42px;
    }*/
    .title_actxl, .title_actl, .title_actms, .title_actml, .title_acts{
        font-size: 15px;
    }
}

@media (max-width: 531px){
    /*.hebecards{
        width: 338px;
    } mettre entre min et max*/

    .xlcard, .lscard, .mmcard{
        width: 90%;
    }
    .port, .lscard{
        margin-bottom: 0px;
    }
    .port, .fort, .iles, .garde, .parc{
        margin-bottom: 22px;
    }
    .port, .fort, .iles, .garde, .parclong, .parc{
        height: 190px;
    }
    .title_actxl, .title_actl, .title_actms, .title_actml, .title_acts{
        top: 71%;
    }
}